spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/product
#    url: jdbc:postgresql://ep-snowy-truth-adm69zgs-pooler.c-2.us-east-1.aws.neon.tech/product?sslmode=require&channel_binding=require
#    username: neondb_owner
#    password: npg_is6YCVNkghy5
    username: postgres
    password: root
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
#  h2:
#    console:
#      enabled: true
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#    hibernate:
#      ddl-auto: create
server:
  port: 8081

